<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="aboutUsStyle.css" />
    <title>Treffens - About Us</title>
  </head>
  <body>
    <%- include('partials/header.ejs') -%>
    <div class="firstDiv">
      <div class="scene">
        <div class="banner">
          <div class="panel"></div>
          <div class="panel"></div>
          <div class="panel"></div>
          <div class="panel"></div>
          <div class="panel"></div>
          <div class="panel"></div>
          <div class="panel"></div>
          <div class="panel"></div>
          <div class="panel"></div>
          <div class="panel"></div>
          <div class="panel"></div>
          <div class="panel"></div>
          <div class="panel"></div>
          <div class="panel"></div>
          <div class="panel"></div>
          <div class="panel"></div>
          <div class="panel"></div>
          <div class="panel"></div>
          <div class="panel"></div>
          <div class="panel"></div>
          <div class="panel"></div>
          <div class="panel"></div>
          <div class="panel"></div>
          <div class="panel"></div>
        </div>
        <div class="screen"></div>
      </div>
    </div>

    <div class="contentContainer">
      <div class="contentFirstBox">
        <div class="firstBoxTxt">
          <h2>Welcome to <span class="mainColor">TREFFENS</span></h2>
          <h4>
            At TREFFENS, we are redefining streetwear fashion. Our
            <br />
            journey started with a vision to create high-quality,
            comfortable,<br />
            and stylish clothing that resonates with the vibrant street
            culture.<br />
            Here’s a deeper dive into who we are and what we stand for:
          </h4>
        </div>
        <div class="firstBoxImg">
          <img src="/firstDiv.jpeg" alt="" />
        </div>
      </div>
    </div>
  </body>
</html>
