<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/adminPageStyle.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/header.ejs') -%>

    <div class="mainContainer">
      <!-- Order cards will be dynamically inserted here -->
    </div>

    <script>
      const mainContainer = document.querySelector(".mainContainer");
      fetch("http://localhost:3000/orderBCK")
        .then((res) => res.json())
        .then((data) => {
          data.forEach((order) => {
            mainContainer.innerHTML += `<a href="/AdminOD?id=${order._id}">
            <div class="orderBox">
              <p>${order.name}</p>
              <p>${order.email}</p>
              <p>${order.city}</p>
              <p>${order.orderProgress}</p>
            </div>
          </a>`;
          });
        })
        .catch((error) => {
          console.error("Error:", error);
        });
    </script>
  </body>
</html>
