<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/adminPageStyle.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/header.ejs') -%>

    <div class="mainContainer">
      <!-- <a href="#">
        <div class="orderBox">
          <p>Momen</p>
          <p>momen@test.com</p>
          <p>Giza</p>
          <p>pendding..</p>
        </div>
      </a>

      <a href="#">
        <div class="orderBox">
          <p>Momen</p>
          <p>momen@test.com</p>
          <p>Giza</p>
          <p>pendding..</p>
        </div>
      </a>

      <a href="#">
        <div class="orderBox">
          <p>Momen</p>
          <p>momen@test.com</p>
          <p>Giza</p>
          <p>pendding..</p>
        </div>
      </a>

      <a href="#">
        <div class="orderBox">
          <p>Momen</p>
          <p>momen@test.com</p>
          <p>Giza</p>
          <p>pendding..</p>
        </div>
      </a> -->
    </div>

    <script>
      const mainContainer = document.querySelector(".mainContainer");
      fetch("http://localhost:3000/orderBCK")
        .then((res) => res.json())
        .then((data) => {
          data.forEach((order) => {
            mainContainer.innerHTML += `<a href="#">
        <div class="orderBox">
          <p>${order.name}</p>
          <p>${order.email}</p>
          <p>${order.city}</p>
          <p>${order.orderProgress}</p>
        </div>
      </a>`;
          });
        })
        .catch((error) => {
          console.error("Error:", error);
        });
    </script>
  </body>
</html>
