<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/checkoutStyle.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/header.ejs') -%>

    <div class="mainContainer">
      <div class="itemsContainer">
        <div class="itemBox">
          <img src="images/items/tshirts/item1.jpeg" alt="" />
          <h4>Holly Rap</h4>
          <p>1</p>
          <p>1200 EGP</p>
        </div>
        <div class="itemBox">
          <img src="images/items/tshirts/item2.jpeg" alt="" />
          <h4>Holly Rap</h4>
          <p>2</p>
          <p>1200 EGP</p>
        </div>
        <div class="itemBox">
          <img src="images/items/tshirts/item1.jpeg" alt="" />
          <h4>Holly Rap</h4>
          <p>10</p>
          <p>1200 EGP</p>
        </div>
        <div class="itemBox">
          <img src="images/items/tshirts/item1.jpeg" alt="" />
          <h4>Holly Rap</h4>
          <p>10</p>
          <p>1200 EGP</p>
        </div>
      </div>
      <div class="checkContainer">
        <div class="checkTitle">
          <h2>CHECKOUT</h2>
        </div>

        <div class="checkoutItemContainer">
          <div class="checkoutItemBox">
            <p>Holly Rap</p>
            <p>x1</p>
            <p>1200 EGP</p>
          </div>

          <div class="checkoutItemBox">
            <p>Holly Rap</p>
            <p>x2</p>
            <p>2400 EGP</p>
          </div>

          <div class="checkoutItemBox">
            <p>Holly Rap</p>
            <p>x1</p>
            <p>1200 EGP</p>
          </div>
        </div>

        <hr />

        <div class="totalContainer">
          <h4>TOTAL: 4800 EGP</h4>
        </div>

        <div class="confirmButton">
          <a href="#">Confirm Order</a>
        </div>
        <div class="checkoutTriangles">
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
        </div>
      </div>
    </div>
  </body>
</html>
