<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/confirmationStyle.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/header.ejs') -%>

    <div class="mainContainer">
      <div class="checkContainer">
        <div class="checkTitle">
          <h2>CHECKOUT</h2>
        </div>

        <div class="checkoutItemContainer">
          <div class="checkoutItemBox">
            <p>Holly Rap</p>
            <p>M</p>
            <p>x1</p>
            <p>1200 EGP</p>
          </div>

          <div class="checkoutItemBox">
            <p>Holly Rap</p>
            <p>L</p>
            <p>x2</p>
            <p>2400 EGP</p>
          </div>

          <div class="checkoutItemBox">
            <p>Holly Rap</p>
            <p>S</p>
            <p>x1</p>
            <p>1200 EGP</p>
          </div>
        </div>

        <hr />

        <div class="totalContainer">
          <h4>TOTAL: 4800 EGP</h4>
        </div>

        <div class="confirmButton">
          <a href="/confirmation">Checkout</a>
        </div>
        <div class="checkoutTriangles">
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
          <div class="arrow-up"></div>
        </div>
      </div>
    </div>
  </body>
</html>
