<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/product.css" />
    <title>Treffens - Products</title>
  </head>
  <body>
    <%- include('partials/header.ejs') -%>

    <div class="productPageContainer">
      <div class="headerImgBox">
        <img src="images/productPage/productPageHeader.png" alt="" />
      </div>

    <div class="card-container">
      <a href="#">
        <div class="container">
          <img src="images/items/tshirts/item1.jpeg" alt="">
          <div class="overlay">
            <div class="items"></div>
            <div class="items head">
              <p>Flower Embroidery Hoop Art</p>
              <hr>
            </div>
            <div class="items price">
              <p class="old">$699</p>
              <p class="new">$345</p>
            </div>
            <div class="items cart">
              <i class="fa fa-shopping-cart"></i>
              <span>ADD TO CART</span>
            </div>
          </div>
        </div>
      </a>
    
  
      <div class="container">
        <img src="images/items/tshirts/item2.jpeg" alt="">
        <div class="overlay">
          <div class="items"></div>
          <div class="items head">
            <p>Flower Embroidery Hoop Art</p>
            <hr>
          </div>
          <div class="items price">
            <p class="old">$699</p>
            <p class="new">$345</p>
          </div>
          <div class="items cart">
            <i class="fa fa-shopping-cart"></i>
            <span>ADD TO CART</span>
          </div>
        </div>
      </div>
  
      <div class="container">
        <img src="images/items/tshirts/item1.jpeg" alt="">
        <div class="overlay">
          <div class="items"></div>
          <div class="items head">
            <p>Flower Embroidery Hoop Art</p>
            <hr>
          </div>
          <div class="items price">
            <p class="old">$699</p>
            <p class="new">$345</p>
          </div>
          <div class="items cart">
            <i class="fa fa-shopping-cart"></i>
            <span>ADD TO CART</span>
          </div>
        </div>
      </div>
      
    </div>

  </body>
</html>
