@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: black;
  margin: 0;
  padding: 0;
  color: whitesmoke;
}
body,
html {
  margin: 0;
  padding: 0;
}

.headerContainer {
  position: relative;
  height: 100vh; /* You can adjust this to fit your needs */
  width: 100%;
  overflow: hidden;
}

#myVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
  background-size: cover;
}

.headerTxt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 1;
  width: 100%;
}

.headerTxt h1 {
  font-size: 50px;
}

.mainColor {
  color: #5d00ff;
}

.contentFirstBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 70px;
  justify-content: space-between;
  margin-top: 30px;
}

.firstBoxTxt {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.firstBoxTxt h2 {
  color: #5d00ff;
  font-size: 50px;
}

.firstBoxTxt p {
  font-size: 30px;
}

.firstBoxTxt a {
  text-decoration: none;
  color: white;
  background-color: #5d00ff;
  width: 20%;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}

.firstBoxTxt a:hover {
  background-color: #4100b3;
}

.firstBoxImg {
  display: flex;
  justify-content: center;
}

.firstBoxImg img {
  width: 50vh;
  height: auto;
  border-radius: 20px;
}
